.btn-lg {
    padding: $padding-12 0;
    border-radius: $border-radius-4;
    font-size: $font-size-16;
}

.btn-sm {
    padding: $padding-8 0;
    font-size: $font-size-14;
}

.btn-info {
    background-color: $info;
    border: 1px solid $info;
}

.btn-secondary {
    background-color: $secondary;
    color: $gray-color;
    border: 1px solid $secondary;
}

.btn-light {
    background-color: $light;
    color: $dark;
    border: 1px solid $secondary;
}

.btn-outline-info {
    background-color: $light;
    color: $info;
    border: 2px solid $info;
}

.right-icon {
    padding-left: $padding-16;
}

.left-icon {
    padding-right: $padding-16;
}
