.btn-lg {
    height: 48px;
    padding: $padding-12 0;
    border-radius: $border-radius-4;
    font-size: $font-size-16;
}

.btn-sm {
    height: 36px;
    padding: $padding-8 0;
    font-size: $font-size-14;
}

.btn-info {
    background-color: $info-color;
    border: 1px solid $info-color;
}

.btn-secondary {
    background-color: $secondary-color;
    color: $gray-color;
    border: 1px solid $secondary-color;
}

.btn-light {
    background-color: $light-color;
    color: $dark-color;
    border: 1px solid $secondary-color;
}
  
.btn-outline-info {
    background-color: $light-color;
    color: $info-color;
    border: 2px solid $info-color;
}

.right-icon {
    padding-left: $padding-16;
}

.left-icon {
    padding-right: $padding-16;
}
