.btn-lg {
    width: 144px;
    height: 48px;
    padding: 12px 6px;
    border-radius: 4px;
    font-size: 16px;
}

.btn-info {
    background-color: #12B0C6;
}

.btn-secondary {
    background-color: #D7E1EA;
    color: #778699;
}

.btn-light {
    background-color: #FFFFFF;
    color: #2C3F58;
    border: 1px solid #DCE1E7;
}
  
.btn-outline-info {
    background-color: #FFFFFF;
    color: #12B0C6;
    border: 2px solid #12B0C6;
}

.btn-search {
    padding: 12px 16px 12px 0;
    .fa-search {
        padding-left: 16px;
    }
}

.btn-message {
    padding: 12px 16px 12px 0;
    .fa-commenting-o {
        padding-left: 16px;
    }
}

.btn-chevron {
    padding: 12px 16px 12px 0;
    .fa-chevron-down {
        padding-left: 16px;
    }
}

.btn-clock {
    padding: 12px 0 12px 16px;
    .fa-clock-o {
        padding-right: 16px;
    }
}

.btn-message-left {
    padding: 12px 0 12px 16px;
    .fa-commenting-o{
        padding-right: 16px;
    }
}

.btn-car {
    padding: 12px 0 12px 16px;
    .fa-car{
        padding-right: 16px;
    }
}
