%button {
    background-color: $light-color;
    color: $gray-color;
    border-color: $gray-color;
    &:hover {
        background-color: $info-color;
    }
}

.btn-group-lg {
    width: 328px;
    height: 48px;
    button {
        @extend %button;
    }
}

.btn-group-sm {
    width: 240px;
    height: 36px;
    font-size: $font-size-14;
    button {
        @extend %button;
    }
}

.btn-social {
    width: 197px;
    height: 36px;
    font-size: $font-size-14;
    .fa-facebook-official {
        color: #4267B2;
    }
    .fa-google {
        color: #EA4335;
    }
    .fa-instagram {
        color: #EA4335;
    }
    .fa-twitter {
        color: #1DA1F2;
    }
    span {
        margin-left: $margin-16;
        color: #919DAC;
    }
}