@mixin ellipsis($max-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $max-lines; /* number of lines to show */
  .ellipsis::after {
    content: "...";
    position: absolute;
    right: -12px;
    bottom: 4px;
  }
}
