// Body
$body-bg: #f5f8fa;

// modal
$modal-md: 720px;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Override Bootstrap Colors
$accent-color: #E8215D;
$info: #12B0C6;
$danger: $accent-color;
$secondary: #D7E1EA;
$primary: #03C3EC;
$success: #A7E521;
$warning: #FFD422;
$light: #FFFFFF;
$gray-color: #778699; // for texts in secondary-color
$dark: #2C3F58; // for texts in ligh-color
$ligh-dark-color: #DCE1E7; // for background in counter component
$light-white-color: #FAFBFD; // for date picker component
$blue-color: #2EBCCF; // for text in card links
$black-color: #000;
$background-color: #F6F8F9;

$card-border-color: rgba($black-color, .05) !default;

// font-sizes
$font-size-64: 64px;
$font-size-48: 48px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;
$font-size-8: 8px;

$font-size: (
        64: 64px,
        48: 48px,
        32: 32px,
        24: 24px,
        18: 18px,
        16: 16px,
        14: 14px,
        12: 12px,
        10: 10px,
        8: 8px,
) !default;

// margin
$margin-8: 8px;
$margin-12: 12px;
$margin-16: 16px;
$margin-20: 20px;
$margin-24: 24px;
$margin-28: 28px;
$margin-32: 32px;
$margin-36: 36px;
$margin-48: 48px;
$margin-56: 56px;
$margin-64: 64px;

// padding
$padding-8: 8px;
$padding-12: 12px;
$padding-16: 16px;
$padding-20: 20px;
$padding-24: 24px;
$padding-28: 28px;
$padding-32: 32px;
$padding-36: 36px;
$padding-48: 48px;
$padding-56: 56px;
$padding-64: 64px;

// border-radius
$border-radius-4: 4px;
$border-radius-8: 8px;
