/* start hero section */
#section-hero {
    margin-top: 100px;
    padding-bottom: $padding-64;
    .title {
        color: $black-color;
        font-size: $font-size-64;
        margin-top: $margin-64;
    }
    .wrapper {
        .desc {
            padding: $padding-12 $padding-64 $padding-12 $padding-8;
            color: $black-color;
            font-size: $font-size-18;
        }
    }
}
/* end hero section */

/* start download app section */
#section-download-apps {
    padding: $padding-64 0;
    .title {
        color: $dark;
        font-size: $font-size-32;
    }
    .wrap-section {
        margin-top: $margin-64;
        padding-top: $padding-64;
        .wrapper {
            .desc {
                padding: $padding-12 $padding-64 $padding-12 $padding-8;
                color: $gray-color;
                font-size: $font-size-18;
            }
        }
    }
}
/* end download app section */

/* start reacent questions section */
#section-recent-questions {
    .image {
        transform: translateY(-85px);
    }
    padding: $padding-64 0;
    background-image: linear-gradient(#FBD3DF, #D0F0F4, #D0F0F4);
    .wrapper {
        .title {
            padding: 0 $padding-8;
            color: $dark;
            font-size: $font-size-32;
        }
        .desc {
            padding: $padding-12 $padding-64;
            color: $black-color;
            font-size: $font-size-18;
        }
    }
}
/* end reacent questions section */

/* start sponsored provider section */
#section-nearest-provider {
    padding: $padding-64 0;
    background-image: url('../../images/assets/Bitmap@3x.png'),url('../../images/assets/Group 26@3x.png');
    background-position: left top,right bottom;
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-color: $white;
    .title {
        padding-top: $padding-64;
        color: $dark;
        font-size: $font-size-32;
    }
    .wrapper {
        h3 {
            color: $dark;
            font-size: $font-size-16;
        }
        p {
            color: $gray-color;
            font-size: $font-size-16;
        }
    }
    //.section-two {
    //    background-image: url('../../images/assets/Group 26@3x.png');
    //    background-size: cover;
    //}

}

/* end sponsored provider section */

/* start recent posts section */
#section-recent-posts {
    padding: $padding-64 0;
    background-color: $light;
    .title {
        color: $dark;
        font-size: $font-size-32;
    }
}
/* end recent posts section */

/* start recent articles section */
#section-recent-articles {
    padding: $padding-64 0;
    .title {
        color: $dark;
        font-size: $font-size-32;
    }
}
/* end recent articles section */