/* start Doctors component */
.title {
    margin-top: $margin-64;
    padding-top: $padding-64;
    color: $dark;
    h1 {
        font-size: $font-size-48;
    }
    p {
        font-size: $font-size-18;
    }
}
/* end Doctors component */

/* start profile */
.profile {
    color: $dark;
    h2 {
        font-size: $font-size-48;
    }
    .views {
        span {
            font-size: $font-size-18;
        }
    }
    .contact {
        i {
            color: $info;
        }
        span {
            font-size: $font-size-18;
        }
    }
    .address {
        span {
            font-size: $font-size-18;
        }
    }
}
/* end profile */

/* start Info component */
.doctor-info {
    padding: $padding-8;
    .card-title {
        color: $dark;
    }
    .card-text {
        color: $gray-color;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
}
/* end Info component */