// for login component
.login-form {
    background-color: $light;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .wrapper {
        position: relative;
        .title {
            color: $dark;
            font-size: $font-size-24;
            line-height: 275px;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../../../images/assets/pic@3x.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
/* ************************************************ */

// for signup component
.signup-form {
    background-color: $light;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .line {
        display: inline-block;
        border-top: 1px solid $secondary;
    }
}
/* ************************************************ */

// for add question component
.question-form {
    background-color: $light;
    height: 683px;
    border-radius: $border-radius-8;
    padding: $padding-24;
}
/* ************************************************ */

// for add post component
.post-form {
    background-color: $light;
    height: 1080px;
    border-radius: $border-radius-8;
    padding: $padding-24;
}
/* ************************************************ */

// for add reminder component
.reminder-form {
    background-color: $light;
    height: 366px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .text {
        font-size: $font-size-14;
    }
}
/* ************************************************ */

// for upload album component
.album-form {
    background-color: $light;
    height: 799px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .text {
        font-size: $font-size-14;
    }
}
/* ************************************************ */

// for location component
.location-form {
    background-color: $light;
    height: 678px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .text {
        font-size: $font-size-14;
        color: $gray-color;
    }
}
/* ************************************************ */

// for profile component
.profile-form {
    background-color: $light;
    height: 1020px;
    border-radius: $border-radius-8;
    padding: $padding-48;
    .text {
        font-size: $font-size-14;
        color: $gray-color;
    }
}
/* ************************************************ */

// for add animal component
.add-animal-form {
    background-color: $light;
    height: 933px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .text {
        font-size: $font-size-14;
        color: $gray-color;
    }
    .step-one {
        .avatars {
            .avatar-one {
                background-color: $info;
            }
        }
    }
    .step-two {
        .avatars {
            .avatar-one {
                background-color: $info;
            }
        }
    }
    .step-three {
        .avatars {
            .avatar-one {
                background-color: $info;
            }
        }
    }
}
/* ************************************************ */
