// for login component
.login-form {
    background-color: white;
    height: 645px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .background {
        background-image: url('../../../images/article-cover.png');
        height: 300px;
        background-size: cover;
        width: 440px;
        margin: auto;
        .title {
            line-height: 330px;
        }
    }
    .btn-info {
        width: 100%;
    }
}
/* ************************************************ */

// for signup component
.signup-form {
    background-color: white;
    height: 898px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .btn-group {
        width: 100%;
    }
    .btn-info {
        width: 100%;
    }
}
/* ************************************************ */

// for add question component
.question-form {
    background-color: white;
    height: 683px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    textarea {
        width: 100%;
    }
    .btn-danger {
        width: 100%;
    }
}
/* ************************************************ */

// for add post component
.post-form {
    background-color: white;
    height: 1007px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    textarea {
        width: 100%;
        height: auto !important;
    }
    .btn-info {
        width: 100%;
    }
}
/* ************************************************ */

// for add reminder component
.reminder-form {
    background-color: white;
    height: 366px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .btn-info, .btn-light {
        width: 100%;
    }
}
/* ************************************************ */