.avatar {
    overflow: hidden;
    .avatar-one {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $info;
        color: white;
        text-align: center;
        line-height: 24px;
        font-size: 10px;
        float: left;
        margin-right: $margin-12;
    }
    h6 {
        float: left;
        width: calc(100% - 36px);
        margin-bottom: 0;
        margin-top: 4px;
        font-size: $font-size-14;
    }
    span {
        display: block;
        float: left;
        color: $gray-color;
        font-size: $font-size-12;
    }
}

.avatar {
    overflow: hidden;
    .avatar-two {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #FF3E1D;
        color: white;
        text-align: center;
        line-height: 36px;
        font-size: $font-size-12;
        float: left;
        margin-right: $margin-12;
    }
    h6 {
        float: left;
        width: calc(100% - 48px);
        margin-bottom: 0;
        margin-top: 4px;
        font-size: $font-size-14;
    }
    span {
        display: block;
        float: left;
        color: $gray-color;
        font-size: $font-size-12;
    }
}

.avatar {
    overflow: hidden;
    .avatar-three {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #03C3EC;
        color: white;
        text-align: center;
        line-height: 56px;
        font-size: $font-size-12;
        float: left;
        margin-right: $margin-12;
    }
    h6 {
        float: left;
        width: calc(100% - 68px);
        margin-bottom: 0;
        margin-top: 4px;
        font-size: $font-size-14;
    }
    span {
        display: block;
        float: left;
        color: $gray-color;
        font-size: $font-size-12;
    }
}

.avatar-four {
    overflow: hidden;
    color: $dark;
    .img-container {
        width: 36px;
        height: 36px;
        float: left;
        margin-right: $margin-12;
        img {
            width: 100%;
            max-width: 100%;
            border-radius: 50%;
        }
    }
    h6 {
        float: left;
        width: calc(100% - 48px);
        margin-bottom: 0;
        margin-top: 4px;
        font-size: $font-size-14;
    }
    span {
        display: block;
        float: left;
        color: $gray-color;
        font-size: $font-size-12;
    }
}
