/* for menu dropdown component */
%dropdown-content {
  display: none;
  position: absolute;
  right: 35px;
  margin-top: 40px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.show {
  display: block !important;
}
/* ***************************************************** */

/* for articles component */
.article-card {
  // height: 488px;
  border-radius: $border-radius-8;

  .card-title {
    padding: $padding-20 $padding-24 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-24;

  }

  .dropdown-content {
    @extend %dropdown-content;
  }

  .small-text {
    padding: $padding-8 $padding-24 $padding-16;
    font-size: $font-size-12;
    color: $gray-color;
  }

  .img-container {
    height: 14rem !important;

    .card-img {
      object-fit: cover;
    }
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 $padding-24;
      color: $gray-color;
      height: 100px;
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: unset;

    .card-link {
      padding: $padding-16 0;
      color: $blue-color;
    }

    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for posts component */
.post-card {
  // height: 507px;
  border-radius: $border-radius-8;

  .img-container {
    background-color: rgba(0, 0, 0, 0.6);

    .card-img-top {
      //height: 14rem !important;
      object-fit: cover;

      border-top-right-radius: $border-radius-8;
      border-top-left-radius: $border-radius-8;
    }
  }

  .card-title {
    padding: $padding-20 $padding-24 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-24;
  }

  .dropdown-content {
    @extend %dropdown-content;
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 $padding-24 0;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: unset;
    // height: 85px;
    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for question component */
.question-card {
  // height: 414px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .small-text {
    font-size: $font-size-12;
    color: $gray-color;
  }

  .dropdown-content {
    @extend %dropdown-content;
  }

  .card-title {
    padding: $padding-20 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-18;
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 0;
      font-size: $font-size-14;
      color: $gray-color;
      height: 80px;
    }
  }

  .card-footer {
    padding: $padding-16 0;
    background-color: inherit;
    // height: 85px;
    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for top questions_members component */
.top-membes-card {
  // height: 391px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .card-title {
    padding-bottom: $padding-24;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-18;
  }

  .card-body {
    padding: 0;

    .card-text {
      border-bottom: 1px solid $secondary;
      padding-bottom: $padding-16;
    }
  }
}

/* ***************************************************** */

/* for comment component */
.comment-card {
  // height: 272px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .card-body {
    padding: 0;

    .small-text {
      font-size: $font-size-12;
      color: $gray-color;
    }

    .dropdown-content {
      @extend %dropdown-content;
    }

    .card-text {
      padding-top: $padding-24;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }

  .card-footer {
    background-color: $light;
    border-top: 0;
    padding-bottom: 0;

    .icon {
      cursor: pointer;

      span {
        margin-left: $margin-8;
        color: $gray-color;
        font-size: $font-size-12;
      }
    }
  }
}

/* ***************************************************** */
/* for leave comment component */
.leave-comment-card {
  // height: 242px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .card-title {
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-24;
    font-weight: bold;
  }

  textarea {
    border: none;
  }

  .card-body {
    border: 1px solid $secondary;
    border-radius: $border-radius-8;

    .card-text {
      margin-top: $margin-24;
      padding: $padding-8;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }
}

/* ***************************************************** */

/* for single-post component */
.single-post-card {
  // height: 1185px;
  border-radius: $border-radius-8;

  .img-container {
    height: 487px;

    .card-img-top {
      border-top-right-radius: $border-radius-8;
      border-top-left-radius: $border-radius-8;
    }
  }

  .card-title {
    padding: $padding-32 $padding-24 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-18;
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 $padding-24 0;
      font-size: $font-size-14;
      color: $gray-color;
    }

    .note {
      padding: 0 $padding-24;

      .small-text {
        color: $gray-color;
        font-size: $font-size-16;
      }

      .note-text {
        color: $dark;
        font-size: $font-size-14;
      }
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: $light;
    height: 340px;

    .detail {
      color: $gray-color;

      .value {
        color: $dark;
      }
    }

    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for add post component */
.add-post-card {
  // height: 297px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .card-title {
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-18;
    font-weight: bold;
  }

  .card-body {
    padding: 0;

    .card-text {
      margin-top: $margin-24;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }
}

/* ***************************************************** */

/* for article two component */
.article-details-card {
  // height: 2207px;
  border-radius: $border-radius-8;

  .card-title {
    //padding: $padding-64 $padding-24 0;
    color: $dark;
    font-size: $font-size-48;
  }

  .small-text {
    //padding: $padding-8 $padding-24 $padding-8;
    font-size: $font-size-12;
    color: $gray-color;
  }

  .icons {
    //padding-left: $padding-24;

    .icon-one, .icon-two {
      cursor: pointer;

      span {
        color: $gray-color;
        font-size: $font-size-12;
      }
    }

    .icon-one {
      padding-right: $padding-16;
    }
  }

  .img-container-one {
    height: 408px;
    //margin: $margin-32 auto;
  }

  .card-body {
    padding: 0;

    .card-text {
      font-size: $font-size-14;
      color: $dark;
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: $light;

    .hashtag {
      padding-bottom: $padding-48;

      .hash-text {
        font-size: $font-size-14;
        color: $dark;
      }
    }

    .share {
      //padding-top: $padding-48;
      .share-icon {
        color: $gray-color;
        font-size: $font-size-14;
      }
    }
  }
}

/* ***************************************************** */

/* for ask question component */
.ask-question-card {
  // height: 217px;
  border-radius: $border-radius-8;

  .wrapper-one {
    border-bottom: 1px solid $secondary;
    border-right: 1px solid $secondary;

    .small-text {
      font-size: $font-size-12;
      color: $gray-color;
    }

    .card-text {
      color: $dark;
    }
  }

  .wrapper-two {
    border-bottom: 1px solid $secondary;

    .small-text {
      font-size: $font-size-12;
      color: $gray-color;
    }

    .card-text {
      color: $dark;
    }
  }
}

/* ***************************************************** */

/* for profiles component */
.provider-card {
  border-radius: $border-radius-8;
  overflow: hidden;
  color: $dark;

  .pro-title {
    background-color: $info;
    transform: rotate(-45deg);
    color: $light;
    // for extra small screens
    @media (max-width: 575.98px) {
      left: -80px;
    }
    // for small screens
    @media (min-width: 576px) {
      left: -135px;
    }
    // for medium screens
    @media (min-width: 768px) {
      left: -80px;
    }
    // for large screens
    @media (min-width: 992px) {
      left: -60px;
    }
    // for extra large screens
    @media (min-width: 1200px) {
      left: -80px;
    }
  }

  .img-container {
    img {
      height: 70px;
    }
  }

  .card-title {
    color: $dark;
    font-size: $font-size-18;

    @include ellipsis(1)
  }

  .card-text {
    color: $gray-color;
    font-size: $font-size-14;
    height: 44px;
    @include ellipsis(2)
  }

  .price {
    color: $info;
  }
}

/* ***************************************************** */

/* for bill-board component */
.bill-board {
  background-color: $accent-color;
  height: 250px;
  max-height: 250px;
}

/* ***************************************************** */

/* for booking component */
.booking-card {
  border-radius: $border-radius-8;
  color: $dark;

  .card-title {
    background-color: $info;
    border-top-right-radius: $border-radius-8;
    border-top-left-radius: $border-radius-8;
  }

  .date {
    color: $info;
    font-size: $font-size-18;
  }

  .week {
    .day {
      button {
        border-color: transparent;
        color: $dark;
        border-radius: $border-radius-8;

        &:hover, &:focus {
          background-color: $info;
          color: $light;
        }
      }
    }
  }

  .card-text {
    font-size: $font-size-14;;
  }

  .time {
    button {
      border-color: rgba(0, 0, 0, 0.05);
      border-radius: $border-radius-8;
      color: $dark;

      &:hover, &:focus {
        color: $light;
      }
    }
  }
}

/* ***************************************************** */


//card header and footer general appearance
.card {
  .card-header {
    background-color: unset;
    border-bottom: unset;
  }

  .card-footer {
    background-color: unset;
  }
}

//card loading animation
.loading-card {

  .image {
    background: #e9ebee;
    height: 90%;
  }

  .bars {
    //height: 85px;

    .bar {
      background: #e9ebee;
      margin: 0 13px 13px;
      height: 14px;
      border-radius: $border-radius-8;
    }

    .bar1 {
      width: 80%;
      //margin-top: 17px;
    }

    .bar2 {
      width: 30%;
    }

    .loading-time {
      width: 10%;
    }

    //.loading-avatar {
    //  border-radius: 50%;
    //  width: 100%;
    //  height: 100%;
    //}

    .loading-button {
      @extend .btn-sm;
      border-radius: $border-radius-4;
      height: 35px;
      width: 50%;
    }
  }
}

.loading-avatar {

  .bars {
    .bar {
      background: #e9ebee;
      margin: 0 13px 13px;
      height: 14px;
      border-radius: $border-radius-8;
    }

    .bar1 {
      width: 40%;
    }

    .bar2 {
      width: 30%;
      height: 9px;
    }

    .loading-time {
      width: 20%;
    }
  }

  .image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.loading {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    background-color: #dddfe2;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: 1.5s loading-placeholder infinite;
    //        animation: fading 1.5s infinite;
  }
}

@keyframes loading-placeholder {
  0% {
    transform: translateX(-100%);
    opacity: .2;
  }
  50% {
    opacity: .6;
  }

  100% {
    transform: translateX(100%);
    opacity: .2;
  }
}
