/* for articles copmonent */
.card-one {
    // width: 349px;
    height: 488px;
    border-radius: $border-radius-8;
    .card-title {
        padding: $padding-20 $padding-24 0;
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-24;
    }
    .small-text {
        padding: $padding-8 $padding-24 $padding-16;
        font-size: $font-size-12;
        color: $gray-color;
    }
    .img-container {
        height: 227px;
        .card-image {
            width: 100%;
            height: 100%;
        }
    }
    .card-body {
        padding: 0;
        .card-text {
            padding: $padding-8 $padding-24 0;
            font-size: $font-size-14;
            color: $gray-color;
        }
    }
    .card-footer {
        padding: $padding-16 $padding-24;
        background-color: $light-color;
        .card-link {
            padding: $padding-16 0;
            color: $blue-color;
        }
        .icons {
            .icon-one, .icon-two {
                cursor: pointer;
                span {
                    margin-left: $margin-8;
                    color: $gray-color;
                    font-size: $font-size-12;
                }
            }
            .icon-one {
                padding-right: $padding-16;
            }
        }
    }
}

/* ***************************************************** */

/* for articles copmonent */
.card-two {
    // width: 730px;
    height: 488px;
    border-radius: $border-radius-8;
    .card-title {
        padding: $padding-20 $padding-24 0;
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-24;
    }
    .small-text {
        padding: $padding-8 $padding-24 $padding-16;
        font-size: $font-size-12;
        color: $gray-color;
    }
    .img-container {
        height: 227px;
        .card-image {
            width: 100%;
            height: 100%;
        }
    }
    .card-body {
        padding: 0;
        .card-text {
            padding: $padding-8 $padding-24 0;
            font-size: $font-size-14;
            color: $gray-color;
        }
    }
    .card-footer {
        padding: $padding-16 $padding-24;
        background-color: $light-color;
        .card-link {
            padding: $padding-16 0;
            color: $blue-color;
        }
        .icons {
            .icon-one, .icon-two {
                cursor: pointer;
                span {
                    margin-left: $margin-8;
                    color: $gray-color;
                    font-size: $font-size-12;
                }
            }
            .icon-one {
                padding-right: $padding-16;
            }
        }
    }
}

/* ***************************************************** */

/* for posts copmonent */

.card-three {
    // width: 825px;
    height: 507px;
    border-radius: $border-radius-8;
    .img-container {
        height: 267px;
        .card-image {
            width: 100%;
            height: 100%;
        }
        .card-img-top {
            border-top-right-radius: $border-radius-8;
            border-top-left-radius: $border-radius-8;
        }
    }
    .card-title {
        padding: $padding-20 $padding-24 0;
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-24;
    }
    .card-body {
        padding: 0;
        .card-text {
            padding: $padding-8 $padding-24 0;
            font-size: $font-size-14;
            color: $gray-color;
        }
    }
    .card-footer {
        padding: $padding-16 $padding-24;
        background-color: $light-color;
        height: 85px;
        .icons {
            .icon-one, .icon-two {
                cursor: pointer;
                span {
                    margin-left: $margin-8;
                    color: $gray-color;
                    font-size: $font-size-12;
                }
            }
            .icon-one {
                padding-right: $padding-16;
            }
        }
    }
}

/* ***************************************************** */

/* for question copmonent */
.card-four {
    // width: 829px;
    height: 414px;
    border-radius: $border-radius-8;
    padding-top: $padding-24;
    
    .small-text {
        padding: $padding-8 $padding-24 $padding-16;
        font-size: $font-size-12;
        color: $gray-color;
    }
    .card-title {
        padding: $padding-20 $padding-24 0;
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-18;
    }
    .card-body {
        padding: 0 173px 0 0;
        .card-text {
            padding: $padding-8 $padding-24;
            font-size: $font-size-14;
            color: $gray-color;
        }
        .tags {
            padding-left: $padding-24;
        }
    }
    .card-footer {
        padding: $padding-16 $padding-24;
        background-color: $light-color;
        height: 85px;
        .icons {
            .icon-one, .icon-two {
                cursor: pointer;
                span {
                    margin-left: $margin-8;
                    color: $gray-color;
                    font-size: $font-size-12;
                }
            }
            .icon-one {
                padding-right: $padding-16;
            }
        }
    }
}

/* ***************************************************** */

/* for top questions_members copmonent */
.card-five {
    // width: 258px;
    height: 391px;
    border-radius: $border-radius-8;
    padding-left: $padding-24;
    .card-title {
        padding: $padding-24 0;
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-18;
    }
    .card-body {
        padding: 0;
        padding-right: $padding-16;
        .card-text {
            border-bottom: 1px solid $secondary-color;
            padding-bottom: $padding-16;
            
        }
    }
}

/* ***************************************************** */

/* for comment copmonent */
.card-six {
    // width: 828px;
    height: 272px;
    border-radius: $border-radius-8;
    padding: $padding-24 0;
    .card-body {
        padding: 0;
        .small-text {
            font-size: $font-size-12;
            padding-left: $padding-24;
            color: $gray-color;
        }
        .card-text {
            padding: $padding-24 $padding-24 $padding-16 $padding-24;
            font-size: $font-size-14;
            color: $gray-color;
        }
    }
    .card-footer {
        background-color: $light-color;
        border-top: 0;
        padding-bottom: 0;
        .icon {
            cursor: pointer;
                span {
                    margin-left: $margin-8;
                    color: $gray-color;
                    font-size: $font-size-12;
                }
        }
    }
}

/* ***************************************************** */
/* for leave comment copmonent */
.card-seven {
    // width: 828px;
    height: 242px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .card-title {
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-24;
        font-weight: bold;
    }
    .button {
        text-align: right;
    }
    .card-body {
        padding: 0;
        .card-text {
            margin-top: $margin-24;
            padding: $padding-8;
            font-size: $font-size-14;
            color: $gray-color;
            border: 1px solid $secondary-color;
            border-radius: $border-radius-8;
        }
    }
}

/* ***************************************************** */

/* for advertisement copmonent */
.card-eight {
    // width: 825px;
    height: 1185px;
    border-radius: $border-radius-8;
    .img-container {
        height: 487px;
        .card-image {
            width: 100%;
            height: 100%;
        }
        .card-img-top {
            border-top-right-radius: $border-radius-8;
            border-top-left-radius: $border-radius-8;
        }
    }
    .card-title {
        padding: $padding-32 $padding-24 0;
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-18;
    }
    .card-body {
        padding: 0;
        .card-text {
            padding: $padding-8 $padding-24 0;
            font-size: $font-size-14;
            color: $gray-color;
        }
        .note {
            padding: 0 $padding-24;
            .small-text {
                color: $gray-color;
                font-size: $font-size-16;
            }
            .note-text {
                color: $dark-color;
                font-size: $font-size-14;
            }
        }
    }
    .card-footer {
        padding: $padding-16 $padding-24;
        background-color: $light-color;
        height: 340px;
        .detail {
            color: $gray-color;
            .value {
                color: $dark-color;
            }
        }
        .icons {
            .icon-one, .icon-two {
                cursor: pointer;
                span {
                    margin-left: $margin-8;
                    color: $gray-color;
                    font-size: $font-size-12;
                }
            }
            .icon-one {
                padding-right: $padding-16;
            }
        }
    }
}

/* ***************************************************** */

/* for add post copmonent */
.card-nine {
    // width: 258px;
    height: 297px;
    border-radius: $border-radius-8;
    padding: $padding-24;
    .card-title {
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-18;
        font-weight: bold;
    }
    .card-body {
        padding: 0;
        .card-text {
            margin-top: $margin-24;
            font-size: $font-size-14;
            color: $gray-color;
        }
    }
}

/* ***************************************************** */

/* for article two copmonent */
.card-ten {
    // width: 825px;
    height: 2207px;
    border-radius: 0;
    .card-title {
        padding: $padding-64 $padding-24 0;
        margin-bottom: 0;
        color: $dark-color;
        font-size: $font-size-48;
        font-weight: bold;
    }
    .small-text {
        padding: $padding-8 $padding-24 $padding-8;
        font-size: $font-size-12;
        color: $gray-color;
    }
    .icons {
        padding-left: $padding-24;
        .icon-one, .icon-two {
            cursor: pointer;
            span {
                margin-left: $margin-8;
                color: $gray-color;
                font-size: $font-size-12;
            }
        }
        .icon-one {
            padding-right: $padding-16;
        }
    }
    .img-container-one {
        width: 777px;
        height: 408px;
        margin: $margin-32 auto;
        .card-image {
            width: 100%;
            height: 100%;
        }
    }
    .card-body {
        padding: 0;
        .card-text {
            padding: 0 $padding-24 0;
            font-size: $font-size-14;
            color: $dark-color;
        }
        .img-container-two {
            width: 773px;
            height: 543px;
            margin: $margin-32 auto $margin-36;
            text-align: center;
            .card-image {
                width: 100%;
                height: 100%;
            }
            .small-text-two {
                margin: auto;
                text-align: center;
                padding: 0;
            }
        }
    }
    .card-footer {
        height: 229px;
        padding: $padding-16 $padding-24;
        background-color: $light-color;
        .hashtag {
            padding-bottom: $padding-48;
            .hash-text {
                font-size: $font-size-14;
                color: $dark-color;
            }
        }
        .share {
            padding-top: $padding-48;
        }
    }
}

/* ***************************************************** */