/* for articles component */
.article-card {
  // height: 488px;
  border-radius: $border-radius-8;

  .card-title {
    padding: $padding-20 $padding-24 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-24;
  }

  .small-text {
    padding: $padding-8 $padding-24 $padding-16;
    font-size: $font-size-12;
    color: $gray-color;
  }

  .img-container {
    .card-img {
      height: 14rem !important;
      object-fit: cover;
    }
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 $padding-24 0;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: unset;

    .card-link {
      padding: $padding-16 0;
      color: $blue-color;
    }

    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for articles component */
.article-card-wide {
  // height: 488px;
  border-radius: $border-radius-8;

  .card-title {
    padding: $padding-20 $padding-24 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-24;
  }

  .small-text {
    padding: $padding-8 $padding-24 $padding-16;
    font-size: $font-size-12;
    color: $gray-color;
  }

  .img-container {
    height: 227px;
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 $padding-24 0;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: $light;

    .card-link {
      padding: $padding-16 0;
      color: $blue-color;
    }

    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for posts component */
.post-card {
  // height: 507px;
  border-radius: $border-radius-8;

  .img-container {
    background-color: rgba(0, 0, 0, 0.6);

    .card-img-top {
      height: 14rem !important;
      object-fit: scale-down;

      border-top-right-radius: $border-radius-8;
      border-top-left-radius: $border-radius-8;
    }
  }

  .card-title {
    padding: $padding-20 $padding-24 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-24;
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 $padding-24 0;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: unset;
    // height: 85px;
    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for question component */
.question-card {
  // height: 414px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .small-text {
    font-size: $font-size-12;
    color: $gray-color;
  }

  .card-title {
    padding: $padding-20 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-18;
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 0;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }

  .card-footer {
    padding: $padding-16 0;
    background-color: inherit;
    // height: 85px;
    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for top questions_members component */
.top-membes-card {
  // height: 391px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .card-title {
    padding-bottom: $padding-24;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-18;
  }

  .card-body {
    padding: 0;

    .card-text {
      border-bottom: 1px solid $secondary;
      padding-bottom: $padding-16;
    }
  }
}

/* ***************************************************** */

/* for comment component */
.comment-card {
  // height: 272px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .card-body {
    padding: 0;

    .small-text {
      font-size: $font-size-12;
      color: $gray-color;
    }

    .card-text {
      padding-top: $padding-24;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }

  .card-footer {
    background-color: $light;
    border-top: 0;
    padding-bottom: 0;

    .icon {
      cursor: pointer;

      span {
        margin-left: $margin-8;
        color: $gray-color;
        font-size: $font-size-12;
      }
    }
  }
}

/* ***************************************************** */
/* for leave comment component */
.leave-comment-card {
  // height: 242px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .card-title {
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-24;
    font-weight: bold;
  }

  .card-body {
    padding: 0;

    .card-text {
      margin-top: $margin-24;
      padding: $padding-8;
      font-size: $font-size-14;
      color: $gray-color;
      border: 1px solid $secondary;
      border-radius: $border-radius-8;
    }
  }
}

/* ***************************************************** */

/* for advertisement component */
.advertisement-card {
  // height: 1185px;
  border-radius: $border-radius-8;

  .img-container {
    height: 487px;

    .card-img-top {
      border-top-right-radius: $border-radius-8;
      border-top-left-radius: $border-radius-8;
    }
  }

  .card-title {
    padding: $padding-32 $padding-24 0;
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-18;
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: $padding-8 $padding-24 0;
      font-size: $font-size-14;
      color: $gray-color;
    }

    .note {
      padding: 0 $padding-24;

      .small-text {
        color: $gray-color;
        font-size: $font-size-16;
      }

      .note-text {
        color: $dark;
        font-size: $font-size-14;
      }
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: $light;
    height: 340px;

    .detail {
      color: $gray-color;

      .value {
        color: $dark;
      }
    }

    .icons {
      .icon-one, .icon-two {
        cursor: pointer;

        span {
          margin-left: $margin-8;
          color: $gray-color;
          font-size: $font-size-12;
        }
      }

      .icon-one {
        padding-right: $padding-16;
      }
    }
  }
}

/* ***************************************************** */

/* for add post component */
.add-post-card {
  // height: 297px;
  border-radius: $border-radius-8;
  padding: $padding-24;

  .card-title {
    margin-bottom: 0;
    color: $dark;
    font-size: $font-size-18;
    font-weight: bold;
  }

  .card-body {
    padding: 0;

    .card-text {
      margin-top: $margin-24;
      font-size: $font-size-14;
      color: $gray-color;
    }
  }
}

/* ***************************************************** */

/* for article two component */
.article-details-card {
  // height: 2207px;
  border-radius: 0;

  .card-title {
    padding: $padding-64 $padding-24 0;
    color: $dark;
    font-size: $font-size-48;
  }

  .small-text {
    padding: $padding-8 $padding-24 $padding-8;
    font-size: $font-size-12;
    color: $gray-color;
  }

  .icons {
    padding-left: $padding-24;

    .icon-one, .icon-two {
      cursor: pointer;

      span {
        margin-left: $margin-8;
        color: $gray-color;
        font-size: $font-size-12;
      }
    }

    .icon-one {
      padding-right: $padding-16;
    }
  }

  .img-container-one {
    height: 408px;
    margin: $margin-32 auto;
  }

  .card-body {
    padding: 0;

    .card-text {
      padding: 0 $padding-24 0;
      font-size: $font-size-14;
      color: $dark;
    }

    .img-container-two {
      height: 543px;
      margin: $margin-32 auto $margin-36;
      text-align: center;
    }
  }

  .card-footer {
    padding: $padding-16 $padding-24;
    background-color: $light;

    .hashtag {
      padding-bottom: $padding-48;

      .hash-text {
        font-size: $font-size-14;
        color: $dark;
      }
    }

    .share {
      padding-top: $padding-48;
    }
  }
}

/* ***************************************************** */

/* for ask question component */
.ask-question-card {
  // height: 217px;
  border-radius: $border-radius-8;

  .wrapper-one {
    border-bottom: 1px solid $secondary;
    border-right: 1px solid $secondary;

    .small-text {
      font-size: $font-size-12;
      color: $gray-color;
    }

    .card-text {
      color: $dark;
    }
  }

  .wrapper-two {
    border-bottom: 1px solid $secondary;

    .small-text {
      font-size: $font-size-12;
      color: $gray-color;
    }

    .card-text {
      color: $dark;
    }
  }
}

/* ***************************************************** */

/* for profiles component */
.provider-card {
  border-radius: $border-radius-8;
  overflow: hidden;
  color: $dark;

  .pro-title {
    background-color: $info;
    transform: rotate(-45deg);
    left: -35px;
    color: $light;
  }

  .card-title {
    color: $dark;
    font-size: $font-size-18;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .ellipsis::after {
      content: "...";
      position: absolute;
      right: -12px;
      bottom: 4px;
    }
  }

  .card-text {
    color: $gray-color;
    font-size: $font-size-14;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    .ellipsis::after {
      content: "...";
      position: absolute;
      right: -12px;
      bottom: 4px;
    }
  }

  .price {
    color: $info;
  }
}

/* ***************************************************** */

/* for bill-board component */
.bill-board {
    background-color: $accent-color;
    height: 250px;
    max-height: 250px;
}

/* ***************************************************** */

/* for booking component */
.booking-card {
  border-radius: $border-radius-8;
  color: $dark;
  .card-title {
    background-color: $info;
    border-top-right-radius: $border-radius-8;
    border-top-left-radius: $border-radius-8;
  }
  .date {
    color: $info;
    font-size: $font-size-18;
  }
  .week {
    .day {
      button {
        border-color: transparent;
        color: $dark;
        border-radius: $border-radius-8;
        &:hover, &:focus {
          background-color: $info;
          color: $light;
        }
      }
    }
  }
  .card-text {
    font-size: $font-size-14;;
  }
  .time {
    button {
      border-color: rgba(0, 0, 0, 0.05);
      border-radius: $border-radius-8;
      color: $dark;
      &:hover, &:focus {
        color: $light;
      }
    }
  }
}

/* ***************************************************** */