.card {
    width: 410px;
    height: 48px;
    font-size: $font-size-14;
    padding: 0;
    border-radius: 0;
    .card-header {
        background-color: $light-color;
        color: $gray-color;
        padding: 0;
        ul {
            background-color: $light-color;
            li {
                line-height: 48px;
                a {
                    color: $gray-color;
                    padding: 0;
                    &:first-of-type {
                        padding-left: 0;
                        margin-right: $margin-24;
                    }
                    &:hover {
                        color: $info-color;
                        border-bottom: 3px solid $info-color;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
