.btn-lg {
    padding: 10px 37px;
}

.btn-info {
    background-color: #12B0C6;
}

.btn-secondary {
    background-color: #D7E1EA;
    color: #79889B;
}

.btn-light {
    background-color: #FFFFFF;
}
  
.btn-outline-info {
    background-color: #FFFFFF;
}

.btn-search {
    padding: 10px 14px;
    .fa-search {
        margin-left: 30px;
    }
}

.btn-message {
    padding: 10px 14px;
    .fa-commenting-o {
        margin-left: 30px;
    }
}

.btn-chevron {
    padding: 10px 14px;
    .fa-chevron-down {
        margin-left: 30px;
    }
}

.btn-clock {
    padding: 10px 14px;
    .fa-clock-o {
        margin-right: 30px;
    }
}

.btn-message-left {
    padding: 10px 13px;
    .fa-commenting-o{
        margin-right: 30px;
    }
}

.btn-car {
    padding: 10px 12px;
    .fa-car{
        margin-right: 30px;
    }
}
