.btn-sm {
    padding: 6px 37px;
    font-size: 13px;
}

.btn-info {
    background-color: #12B0C6;
}

.btn-secondary {
    background-color: #D7E1EA;
    color: #79889B;
}

.btn-light {
    background-color: #FFFFFF;
}
  
.btn-outline-info {
    background-color: #FFFFFF;
}

.btn-search-sm {
    padding: 6px 14px;
    .fa-search {
        margin-left: 30px;
    }
}

.btn-message-sm {
    padding: 6px 14px;
    .fa-commenting-o {
        margin-left: 30px;
    }
}

.btn-chevron-sm {
    padding: 6px 14px;
    .fa-chevron-down {
        margin-left: 30px;
    }
}

.btn-chevronLeft-sm {
    padding: 6px 14px;
    .fa-chevron-down {
        margin-right: 30px;
    }
}

.btn-message-left-sm {
    padding: 6px 14px;
    .fa-commenting-o{
        margin-right: 30px;
    }
}