.tag-one {
    background-color: $accent-color;
    border-radius: 11px;
    font-size: $font-size-12;
    text-align: center;
    line-height: 22px;
    color: $light-color;
}

.tag-two {
    background-color: $info-color;
    border-radius: 11px;
    font-size: $font-size-12;
    text-align: center;
    line-height: 22px;
    color: $light-color;
}