/* start Footer */
footer {
    background-color: $light;
    .navbar {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $gray-color;
                    font-size: $font-size-14;
                    &:hover {
                        border-bottom: 1px solid $info;
                    }
                    &:focus {
                        color: $dark;
                        border-bottom: 1px solid $info;
                        font-weight: bold;
                    }
                    i {
                        color: $black-color;
                    }
                }
            }
            .find-doctor {
                min-width: 101.42px;
            }
            .conditions {
                min-width: 141.16px;
            }
            .policy {
                min-width: 104.91px;
            }
        }
    }
    .copy-right {
        color: $gray-color;
        font-size: $font-size-14;
    }
}
/* end Footer */
