/* start Navbar */
header {
    .navbar {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $gray-color;
                        font-size: $font-size-14;
                        &:hover {
                            border-bottom: 1px solid $info;
                        }
                        &:focus {
                            color: $dark;
                            border-bottom: 1px solid $info;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
/* end navbar */
