// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Big buttons
@import './sass/components/buttons/bigButtons';

// Small buttons
@import './sass/components/buttons/smallButtons';

// Combined buttons
@import './sass/components/buttons/combinedButtons';

// Checkboxes
@import './sass/components/checkboxes/checkBoxes';

// Tags
@import './sass/components/tags/tags';

// Alerts
@import './sass/components/alerts/alerts';

// Tabs
@import './sass/components/tabs/tabs';

// Avatars
@import './sass/components/avatars/avatar';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@media (min-width: 1050px) {
  body {
    width: 100%;
    height: 100%;
    background: url("images/landing_bk.png") no-repeat;
    background-size: cover;
  }

  /* ---------------------------------------- header css */
  header {
    height: 70px;
    background: rgba(172, 49, 85, 0.6);
  }

  .row {
    margin: 0;
  }

  .header-social-icons {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 160%;
  }

  .header-social-icons:first-child {
    margin-left: 50px;
  }

  .blue-header {
    height: 70px;
    background: rgba(19, 174, 194, 1);
    color: white;
    font-size: 150%;
    font-weight: 500;

  }

  /* ---------------------------------------- middle section css */
  #middle-section {
    position: absolute;
    top: 150px;
    width: 100%;
    margin: 0;
    padding: 25px 50px 0 50px;
    text-align: right;
    direction: rtl;

  }

  #middle-section .col-9 {
    padding-right: 50px;
  }

  #middle-section .col-9 h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
  }

  #middle-section .col-9 h2 {
    font-size: 2.2rem;
    font-weight: 700;
    width: fit-content;
    color: white;
    background: rgb(219, 43, 91);
    padding: 5px 15px 10px 15px;
  }

  #mobile-app {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: -60px;
  }

  /* ---------------------------------------- bottom section css */
  #bottom-section {
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    background: #c2c2c2;
    height: 180px;
  }

  #walking-dog {
    position: absolute;
    top: -120px;
    left: 100px;
    width: 250px;
  }

  #blue-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: rgba(20, 162, 181, 1);
  }

  #blue-bar a:first-child img {
    height: 90px;
    margin-top: 15px;
    margin-right: 10px;
    z-index: 2;
  }

  #blue-bar a:nth-child(2) img {
    height: 75px;
    margin-top: 30px;
    margin-left: 10px;
  }
}

@media (max-width: 700px) {
  body {
    width: 100vw;
    height: 100vh;
    background: url("images/landing_bk.png") repeat;
    background-size: cover;
    background-position: center;
  }

  /* ---------------------------------------- header css */
  header {
    height: 20vw;
    background: rgba(172, 49, 85, 0.6);
  }

  .row {
    margin: 0;
  }

  .header-social-icons {
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 5vw;
  }

  .header-social-icons:first-child {
    margin-left: 5px;
  }

  .blue-header {
    background: rgba(19, 174, 194, 1);
    color: white;
    font-size: 5vw;
    font-weight: 500;
    height: 20vw;
    text-align: center;
  }

  #big-screen-contacts {
    display: none;
  }

  #small-screen-contacts {
    display: block !important;
    visibility: visible;
    background: rgba(172, 49, 85, 0.6);
    text-align: center;
    font-size: 5vw;
  }

  /* ---------------------------------------- middle section css */
  #middle-section {
    width: 100%;
    margin: 0;
    padding: 5vw;
    text-align: center;
    direction: rtl;

  }

  #middle-section .col-9 {
    padding-top: 10vw;
    width: 100% !important;
    max-width: 100% !important;
    flex: none;
  }

  #middle-section .col-9 h1 {
    color: white;
    font-size: 5vw;
    line-height: 0;
    font-weight: 700;
  }

  #middle-section .col-9 h2 {
    font-size: 4vw;
    font-weight: 700;
    width: fit-content;
    color: white;
    background: rgb(219, 43, 91);
    padding: 1vw 3vw 2vw 3vw;
  }

  #middle-section .col-3 {
    width: 100% !important;
    max-width: 100% !important;
    flex: none;
  }

  #mobile-app {
    width: 34%;
    position: absolute;
    z-index: 2;
    left: 33%;
    right: 33%;
    top: 40vw;
  }

  /* ---------------------------------------- bottom section css */
  #bottom-section {
    position: absolute;
    padding: 2vw;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(20, 162, 181, 1);
    height: fit-content;
    z-index: 2;
  }

  #walking-dog {
    display: none;
  }


  #blue-bar a:first-child img {
    width: 25vw;
    margin: 0 5vw;
    z-index: 2;
  }

  #blue-bar a:nth-child(2) img {
    margin: 0 5vw;
    margin-top: .8vh;
    width: 23vw;
  }
}

@media (min-width: 701px) and (max-width: 1049px) {
  body {
    width: 100vw;
    height: 100vh;
    background: url("images/landing_bk.png") repeat;
    background-size: cover;
    background-position: center;
  }

  /* ---------------------------------------- header css */
  header {
    height: 15vw;
    background: rgba(172, 49, 85, 0.6);
  }

  .row {
    margin: 0;
  }

  .header-social-icons {
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 3vw;
  }

  .header-social-icons:first-child {
    margin-left: 5px;
  }

  .blue-header {
    background: rgba(19, 174, 194, 1);
    color: white;
    font-size: 3vw;
    font-weight: 500;
    height: 15vw;
    text-align: center;
  }

  #big-screen-contacts {
    display: none;
  }

  #small-screen-contacts {
    display: block !important;
    visibility: visible;
    background: rgba(172, 49, 85, 0.6);
    text-align: center;
    font-size: 3vw;
  }

  /* ---------------------------------------- middle section css */
  #middle-section {
    width: 100%;
    margin: 0;
    padding: 5vw;
    text-align: center;
    direction: rtl;

  }

  #middle-section .col-9 {
    padding-top: 5vw;
    width: 100% !important;
    max-width: 100% !important;
    flex: none;
    text-align: center;
  }

  #middle-section .col-9 h1 {
    color: white;
    font-size: 4vw;
    font-weight: 700;
  }

  #middle-section .col-9 h2 {
    font-size: 3vw;
    font-weight: 700;
    width: fit-content;
    margin: 0 auto;
    color: white;
    background: rgb(219, 43, 91);
    padding: 1vw 3vw 2vw 3vw;
  }

  #middle-section .col-3 {
    width: 100% !important;
    max-width: 100% !important;
    flex: none;
  }

  #mobile-app {
    width: 30%;
    position: absolute;
    z-index: 2;
    left: 35%;
    right: 35%;
    top: 37vw;
  }

  /* ---------------------------------------- bottom section css */
  #bottom-section {
    position: absolute;
    padding: 2vw;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(20, 162, 181, 1);
    height: fit-content;
  }

  #walking-dog {
    display: none;
  }


  #blue-bar a:first-child img {
    width: 25vw;
    margin: 0 5vw;
    z-index: 2;
  }

  #blue-bar a:nth-child(2) img {
    margin: 0 5vw;
    margin-top: 1.1vh;
    width: 23vw;
  }
}

.card-header {
  background: rgba(19, 174, 194, 1);
  color: white;
}

.card {
  border: unset;
  top: 20%;
}

