.alert {
    font-size: $font-size-14;
    color: white;
    padding: $padding-12;
    i {
        margin-right: $margin-12;
    }
}

.alert-info {
    background-color: $primary;
    border: 1px solid $primary;
}

.alert-warning {
    background-color: $warning;
    border: 1px solid $warning;
}

.alert-success {
    background-color: $success;
    border: 1px solid $success;
}

.alert-danger {
    background-color: $danger;
    border: 1px solid $danger;
}
